<!--<p>titulos works!</p>
<h2>Hola </h2>
{{nombre}}
{{apellido}}

<img [src]="imagen" alt="">

<input type="text" [(ngModel)]="inputNuevo">

<p>{{inputNuevo}}</p>>-->
<label for="">Correo
    <input type="text" [(ngModel)]="correo">
</label>
<label for="">Password
   <!-- <input type="password" (ngModelChange)="escribirModel()" (keydown)="ingresar($event)" [(ngModel)]="password"> -->
   <input type="password" (keydown)="ingresar($event)" [(ngModel)]="password"> 
</label>

<button (click)="ingresar()">Iniciar</button>

<!--<button (dblclick)="llamarAlert()">Doble click</button>
<br>
<br>
<input type="text" (input)="escribir($event)">

<br>
<input type="text" (focus)="colorearFondo($event)">-->

<img [src]="imagen" (mouseenter)="size($event)" (mouseleave)="sizeplus($event)" alt="">

